<div class="app app__body">
  <app-page-header [title]="'Dashboard'"></app-page-header>
  <div class="app app__preview-cards">
    <app-preview-card
      [cardTitle]="'Animated Clock'"
      [cardIcon]="'schedule'"
      [cardDescription]="'An animated clock that chooses its starting value based on the user\'s local time.'"
      [cardColor]="'yellow'"
      [cardRoute]="'clock'"
    ></app-preview-card>

    <app-preview-card
      [cardTitle]="'Sun and Moon Toggle'"
      [cardIcon]="'sunny'"
      [cardDescription]="'A specialized toggle that goes from night time with a moon button to day time with a sun button.'"
      [cardColor]="'blue'"
      [cardRoute]="'toggle'"
      [textColor]="'white'"
    ></app-preview-card>

    <app-preview-card
      [cardTitle]="'Sun and Moon Toggle'"
      [cardIcon]="'toggle_on'"
      [cardDescription]="'A specialized toggle that goes from night time with a moon button to day time with a sun button.'"
      [cardColor]="'red'"
      [cardRoute]="'toggle'"
      [textColor]="'white'"
    ></app-preview-card>

    <app-preview-card
      [cardTitle]="'Sun and Moon Toggle'"
      [cardIcon]="'toggle_on'"
      [cardDescription]="'A specialized toggle that goes from night time with a moon button to day time with a sun button.'"
      [cardColor]="'grey'"
      [cardRoute]="'toggle'"
    ></app-preview-card>
  </div>
</div>
